<h2>Book your Tickets</h2>

<div class="booking-form">

    <form action="/book-tickets" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>First Name:</label>
    <input class="first_name" type="First Name">

    <label>Last Name:</label>
    <input class="last_name" type="text">

    <label>Email:</label>
    <input class="email" type="text">

    <label>Phone Number :</label>
    <input class="phone" type="text">

    <div class='card-wrapper'></div>
      <form>
      <input type="text" name="number">
      <input type="text" name="name"/>
      <input type="text" name="expiry"/>
      <input type="text" name="cvc"/>
      </form>

    <button class='book-blah'>Submit Payment</button>
  </form>
</div>
