<form action="/attendees" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="" id="first_name">First Name:</label>
  <input type="First Name" name="name" value="">

  <label for="">Last Name:</label>
  <input type="text" name="last_name" value="">

  <label for="">Email:</label>
  <input type="text" name="email" value="">

  <label for="">Phone Number :</label>
  <input type="text" name="phone" value

  <div class='card-wrapper'></div>
    <form>
    <input type="text" name="number">
    <input type="text" name="name"/>
    <input type="text" name="expiry"/>
    <input type="text" name="cvc"/>
    </form>

  <button>Submit Payment</button>
</form>
