<nav>
  <!-- Does it have to be here???  -->
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
    }
  </script>

  <ul class="topnav" id="myTopnav">
    <li data-location="#about"><a>about</a></li>
    <li data-location="#planner"><a>speakers</a></li>
    <li data-location="#contact-left"><a>news</a></li>
    <li data-location="#contact-left"><a>location</a></li>
    <li data-location="#contact-left"><a>partners</a></li>
    <li class="icon">
      <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
  </ul>
</nav>

<div class="about" id="about">
  <h2>about wdiCONF 2k16</h2>
  <br>
  <p>
    wdiCONF is a community-driven conference that traverses the frontier of our beautiful web.
  </p>
  <p>Each year, wdiCONF brings together a new array of rising influencers on the web for a day packed with great energy, with influencers
    sharing their knowledge via multi-track lectures and interactive workshops. wdiCONF 2k16's line-up is set to explore
    a mix of tech, design, products and more and leave you with exciting but practical takeaways.
  </p>
  <br>
  <br>
  <h2 id="planner">curate your wdiCONF</h2>
</div>

<div class="planner">
  <div class="speakers"></div>
  <div class="itinerary"></div>

  <div class="overlay">
    <i id="close-window" class="fa fa-window-close" aria-hidden="true"></i>
    <div class="info">
    </div>
  </div>

  <div class="instructions">
    <span class="steps">
      <h3>Select speakers to read about them.<br>
        Drag and drop your favourite talks into the itinerary to curate your day.</h3>
      <br>
      <br>
      <button class="steps-btn" type="submit">
        <i class="fa fa-check"></i>
      </button>
    </span>
  </div>
</div>

<button class="submit-itinerary waves-light waves-effect">book tickets</button>




<div id="contact" class="contact">
<!-- Email , phone and whatever else -->
  <div id='contact-left' class="contact-left">
    <h2>MORE INFO</h2>
    <p>email: wdi2k16@gmail.com</p>
    <br>
    <h2>NEWS</h2>
    <p><a href="https://www.youtube.com/watch?v=vrtn8F-Y4mc">[11-10] Moët is sponsoring us!</a></p>
    <p><a href="https://www.youtube.com/watch?v=1OWqz5FMEY0&t=94s">[10-10] Early bird tickets! Don't be a late bird!</a></p>
    <p><a href="https://www.youtube.com/watch?v=Z4eARl9omVs">[01-10] Caterers? Please. We will have foodtrucks parked outside.</a></p>
    <p><a href="https://www.youtube.com/watch?v=D-UmfqFjpl0">[06-09] We're back! Announcing: wdiCONF2k16!</a></li>
  </div>

  <!-- MAP -->
  <div id="contact-right">
    <div id='map-div' class="map-div">
      <h2>LOCATION</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.7042113800157!2d144.95684342969204!3d-37.818578289754846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b33fa08005%3A0x5b4ce751bc4d46f6!2sGeneral+Assembly+Melbourne!5e0!3m2!1sen!2sau!4v1481111706871" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="attendee-form"></div>


<script id="session-box" type="text/x-handlebars-template">
  <span class="session-box draggable tooltipped" time={{talktime}} venue={{venue}} data-id={{sessionid}} >
    <img src="/images/{{speakerimg}}" alt="" data-id={{sessionid}} >
    <h2 data-id={{sessionid}}>{{speakername}}</h2>
    <p data-id={{sessionid}}>{{talktitle}} @ {{talktime}}:00</p>
  </span>
</script>

<!-- Time Slot (Itinerary) -->
<script id="timeslot" type="text/x-handlebars-template">
    <div class="itinerary-row">
      <span class="timeslot" time={{talktime}}>
        <p>{{text}}</p>
      </span>
    </div>
</script>

<!-- Speaker Info -->
<script id="overlay" type="text/x-handlebars-template">
  <img src="/images/{{speakerimg}}" alt="">
  <h2>{{speakername}} </h2>
  <p>presents<p></br>
  <h3>"{{talktitle}}"</h3><br>
  <h4>{{talkdesc}}</h4><br>
  <p>{{speakerdesc}}</p><br>

</script>

<!-- Payment Form -->
<script id="attendee-form" type="text/x-handlebars-template">
  <%= form_tag charges_path, id: "payment-form", method: "post" do %>

    <h2>CHECKOUT</h2>
    <br>
    <h4>YOUR CART</h4>
    <br>
    <h5>$450.00 / </h5>
    <h5>wdiCONF 2k16 Ticket / </h5>
    <h5>Qty: 1</h5>

    <br><br>
    <h4>YOUR DETAILS</h4>

    <div class="form-row input-field">
      <input id="first_name" type="text" size="20" name="first_name" >
      <label for="first_name">first name</label>
    </div>

    <div class="form-row input-field">
      <input id="last_name" type="text" size="20" name="last_name" >
      <label for="last_name">last name</label>
    </div>

    <br>

    <div class="form-row input-field">
      <input id="email" type="text" size="20" name="email" >
      <label for="email">email</label>
    </div>

    <div class="form-row input-field">
      <input id="phone" type="text" size="20" name="phone" >
      <label for="phone">mobile</label>
    </div>

    <br>

    <h4>PAYMENT INFORMATION</h4>
    <div class="form-row input-field">
      <input id="card" type="text" size="20" data-stripe="number">
      <label for="card">card number</label>
    </div>

    <div class="form-row input-field verification">
        <input id="expiry-mth" type="text" size="2" data-stripe="exp_month">
        <label for="expiry-mth">mm</label>
    </div>

    <div class="form-row input-field verification">
      <input id="expiry-yr" type="text" size="2" data-stripe="exp_year">
      <label for="expiry-yr">yy</label>
    </div>

    <div class="form-row input-field verification">
      <input class="validate" id="cvc" type="text" size="4" data-stripe="cvc">
      <label for="cvc">cvc</label>
    </div>

    <br>
    <span class="payment-errors"></span>
    <br>

    <input id="sessionsAdded" type="hidden" name="name" value="">
    <input type="submit" class="submit btn" value="submit payment">
  <% end %>

</script>

<script>
$(document).ready(function() {

  //display all the speakers
  $.ajax({
    url: "/api/displayspeakers",
    method: "get"
  })
  .done(displaySpeakers)

  //display slots for the itinerary
  var times = [9, 10, 11, 12, 13, 14, 15, 16]
  var innertext = ["9:00","10:00","11:00","L U N C H","13:00","14:00","15:00","16:00"]
  var source = $("#timeslot").html();
  var template = Handlebars.compile(source);
  for (var i = 0; i < times.length; i++) {
    timeslot = {
      talktime: times[i],
      text: innertext[i]
    }
    $(".itinerary").append(template(timeslot))
  }

  // Make 'timeslot' Draggable and set properties
  $(".timeslot").droppable({
    hoverClass: hoverTimeslot,
    out: function(){
      $(this).css("background-color","")
    },
    tolerance: "pointer",

    drop: placeSession
    // scope: function() {
    //   this.attr('time')
    // }
  })

  function hoverTimeslot( event, ui ) {
    var slotTime = $(this).attr('time')
    var cardTime = $('.ui-draggable-helper').attr('time')
    if ( slotTime == cardTime ) {
      return 'correct'
    }else {
      return 'wrong'
    }
  }


  function placeSession( event, ui ) {
    var slotTime = $(this).attr('time')
    var cardTime = ui.draggable.attr('time')

    // If the card was dropped to the correct slot,
    // change the card colour, position it directly
    // on top of the slot, and prevent it being dragged
    // again

    if ( slotTime == cardTime ) {
      //ui.draggable.addClass( 'correct' );
      //ui.draggable.draggable( 'disable' );
      //$(this).droppable( 'disable' );
      //ui.draggable.position( { of: $(this), my: 'left top', at: 'left top' } );
      //ui.draggable.draggable( 'option', 'revert', false );


      //take text within the session box that was selected for dragging
      //ui.draggable.html()
      //put text within the timeslot that it was dragged into
      $(this).html(
        '<i id="remove-speaker" class="fa fa-minus-square remove-speaker" aria-hidden="true"></i>'
        +ui.draggable.html()
        + '<p>'
        +'Location: '
        + ui.draggable.attr('venue').split('-').join(' ')
        + '</p>'
      )
      .css({
        "text-align": "left",
      });

      $(this).find("p").css({
        "margin-left": "7em",
        "margin-top": "0em",
        "margin-bottom": "0em"
      })

      //button to remove speaker from the timeslot
      $('.remove-speaker').on("click",function(e) {
        console.log('removed');
        this.parentElement.style.textAlign = 'center';
        $(this.parentElement).html('<p>'+ this.parentElement.attributes.time.value +':00</p>')

      })

      // return false;
    }else {
      // return true;
    }
  }

})


</script>
