<div class="about"></div>

<div class="speakers"></div>

<div class="itinerary"></div>

<div class="news"> </div>

<div class="contact">
  <span class="map">

  </span>
</div>

<script id="session-box" type="text/x-handlebars-template">
  <span class="session-box draggable" time={{talktime}}>
    <img src="{{speakerimg}}" alt="">
    <h2>{{speakername}}</h2>
    <h3>{{talktitle}}</h3>
  </span>
</script>

<script id="timeslot" type="text/x-handlebars-template">
  <span class="timeslot" time={{talktime}}>
    <p>{{text}}</p>
  </span>
</script>
