<div class="about"></div>

<container class="planner">
  <div class="speakers"></div>

  <div class="itinerary"></div>

  <div class="overlay">
    <div class="info">

    </div>

  </div>

  <div class="instructions">
    <span class="steps">
      <h2>Create your day at wdiCONF.</h2>
      <h3>Drag and drop your favourite talks into the itinerary to curate your day.<br>
        <br>
        <button class="steps-btn" type="submit">
          <i class="fa fa-check"></i>
        </button>
      </h3>
    </span>
  </div>

</container>

<div class="news"> </div>

<div class="contact">
  <span class="map">

  </span>
</div>


<script id="session-box" type="text/x-handlebars-template">
  <span class="session-box draggable" time={{talktime}} venue={{venue}} data-id={{sessionid}}>
    <img src="{{speakerimg}}" alt="" data-id={{sessionid}}>
    <h2 data-id={{sessionid}}>{{speakername}}</h2>
    <p data-id={{sessionid}}>{{talktitle}} @ {{talktime}}:00</p>
  </span>
</script>

<script id="timeslot" type="text/x-handlebars-template">
    <div class="itinerary-row">
      <span class="timeslot" time={{talktime}}>
        <p>{{text}}</p>

      </span>
    </div>
</script>

<script id="overlay" type="text/x-handlebars-template">
  <img src="{{speakerimg}}" alt="">
  <h2>{{speakername}} </h2><br>
  <p>presents<p><br>
  <h3>"{{talktitle}}"</h3><br>
  ~
  <br><br>
  <h4>{{speakerdesc}}</h4><br>
  <h4>{{talkdesc}}</h4>
</script>
