<div class="about"></div>

<container class="planner">
  <div class="speakers"></div>

  <div class="itinerary"></div>

  <div class="overlay">
      <div class="txt">Overlay</div>
  </div>

</container>

<div class="news"> </div>

<div class="contact">
  <span class="map">

  </span>
</div>


<script id="session-box" type="text/x-handlebars-template">
  <span class="session-box draggable" time={{talktime}} data-id={{sessionid}}>
    <img src="{{speakerimg}}" alt="" data-id={{sessionid}}>
    <h2 data-id={{sessionid}}>{{speakername}}</h2>
    <h3 data-id={{sessionid}}>{{talktitle}} @ {{talktime}}:00</h3>
  </span>
</script>

<script id="timeslot" type="text/x-handlebars-template">
  <span class="timeslot" time={{talktime}}>
    <p>{{text}}</p>

  </span>
</script>

<script id="overlay" type="text/x-handlebars-template">
  <img src="{{speakerimg}}" alt="">
  <h1>{{speakername}}</h1>
  <h2>{{talktitle}}</h2>

  <h2>{{speakerdesc}}</h2>
  <h2>{{talkdesc}}</h2>
</script>
