<div class="about">

</div>

<div class="speakers">

</div>

<div class="itinerary">

</div>

<div class="news">

</div>

<div class="contact">
  <span class="map">

  </span>
</div>

<script id="session-box" type="text/x-handlebars-template">
  <span time={{talktime}}>
    <img src="{{speakerimg}}" alt="">
    <h2>{{speakername}}</h2>
    <h3>{{talktitle}}</h3>
    <h4>{{talktime}}</h4>
  </span>
</script>
