<h4 id="session_id"><%= params["sessions"]  %></h4>
<h4 id="attendee_id"><%= params["attendee_id"]%></h4>

<div id="confirmation">
  <div class="attendee"></div>

  <div id="itinerary">
    <h3>Your Itinerary:</h3>
    <div class="itinerary">

    </div>
  </div>

  <div class="thanks">
    <h3>We look forward to seeing you</h3>
  </div>
</div>

<script id="attendee" type="text/x-handlebars-template">
  <h3>Hello {{name}}!</h3><br>
  <p>Your booking has been confirmed:</p>
  <p>$450.00 / 1 x wdiCONF 2k16 Ticket / Qty: 1</p>
</script>

<script id="selected-session" type="text/x-handlebars-template">
  <span class="selected-session" time={{talktime}}>
    <h2>{{speakername}}</h2>
    <p>{{talktitle}} @ {{talktime}}:00</p>
    <p>{{venue}}</p>
  </span>
</script>

<script>

$(document).ready(function() {
    console.log("helooooo o ol l")
    //display the itinerary of a successful booking
    session_id = $('#session_id').text().split(',')
    attendee_id = $('#attendee_id').text().split(',')


    data = {
      sessionID: session_id,
      attendeeID: attendee_id[0]
    }

    $.ajax({
      url: "/api/displayitinerary",
      method: "get",
      data: data
    })
    .done(function(response) {
      console.log(response)
      var sessions = response
      var source = $('#selected-session').html();
      var template = Handlebars.compile(source);
      for (var i = 0; i < sessions.length; i++) {
        speaker = {
          speakername: sessions[i].speaker_name,
          talktitle: sessions[i].talk_title,
          talktime: sessions[i].talk_time,
          venue: sessions[i].venue.split(' ').join(' ')
        }
        $('.itinerary').append(template(speaker))
      }
    })

    $.ajax({
      url: "/api/attendeedetails",
      method:"get",
      data: data
    }).done(function(response) {
      console.log(response)
      var attendee = response
      var source = $('#attendee').html();
      var template = Handlebars.compile(source);
      attendeeData = {
        name: attendee.first_name,
        email: attendee.email
      }
      $('.attendee').append(template(attendeeData))

    })



  //for each of the sessions in my params["sessions"],
  //i want the session speaker name, talk name, talk talk_title
  //and display them all as an itinerary
})

</script>
