/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

// Main colors
$primary-color: #0069af;
$secondary-color: white;
$tertiary-color: #EB5E00;
$primary-font: 'Inconsolata', Monaco, Consolas, 'Courier New', Courier;
$striped-background: #fafafa;
$secondary-font: 'Poppins', sans-serif;

body {
  text-align: center;
  font-family: $primary-font;
  color: $primary-color;
	width: 100%;
	height: 100%;
  background-color: $secondary-color;
	// background-image: url(38436.svg);
  // background-size: 25px;
  // background-position: 0px 0px;
	// background-repeat: repeat-x repeat-y;
	// animation: animatedBackground 80s linear infinite;
}

.banner {
  background-image: url("/assets/wdiconf-large.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

header {
  height: 20em;
  width: 100%;
}

.about {
  margin: 5% auto 0;
}

.contact, #confirmation {
  margin: 5% auto;
}

.about, .contact, #confirmation {
  background-color: $striped-background;
  width: 90%;
  padding: 2em;
}

#planner {
  margin: 0 auto;
  padding: 2em;
  width: 90%;
}

.planner {
  margin-bottom: 5%;
}


.banner h1 {
  font-size: 5em;
}

.banner h2 {
  font-size: 4em;
}

.banner h3 {
  font-size: 3em;
}

.topnav {

}

.nav-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $primary-color;
}

ul.topnav li {
  float: left;
  width: 20%;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: $secondary-font;
}


ul.topnav li:hover {
  background-color: $tertiary-color;
}

ul.topnav li a:hover {
  text-decoration: underline;
  text-style: italic;
}

ul.topnav li.icon {
  display: none;
}

.speakers, .itinerary, .instructions, .overlay, #payment-form {
  font-size: 24px;
  font-family: $primary-font;
}

.overlay h2 {
  color: $secondary-color;
  text-align: center;
}

h2 {
  font-size: 22px;
  letter-spacing: 2px;
  font-family: $secondary-font;
  color: $tertiary-color;
  text-align: left;
}

h2:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

h3 {
  font-size: 20px;
  font-family: $secondary-font;
}

h4 {
  font-size: 16px;
}

.payment-errors, p {
  font-size: 14px;
}

.itinerary-wrapper {
  position: relative;
}

.speakers, .itinerary, .instructions, .overlay {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  text-align: center;
  height: 80vh;
  background-color: $secondary-color;
}

.speakers, .itinerary {
  margin: 0 auto;
}

.planner {
  position: relative;
}

.instructions, .overlay {
  text-align: center;
  position:absolute;
  top:0;
  bottom:0;
  background-color:$primary-color;
  z-index:10;
  color: $secondary-color;
  display: none;
}

.overlay {
  left: 4.5%;
  background-color:$tertiary-color;
  // opacity: 0.8;
}

.instructions  {
  right: 4.6%;
  background-color:$primary-color;
  opacity: 0.9;
}

.overlay img {
  position: relative;
  display: block;
  width: 7em;
  height: 7em;
  text-align: center;
  margin: 0 auto 1em;
}

.overlay .info {
  padding: 2em;
}

.steps {
  text-align: center;
}

.steps-btn {
  width: 10%;
  height: 10%;
  color: $secondary-color;
  border: 1px $secondary-color solid;
  border-radius: 25px;
}

.steps-btn:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari */
  transform: scale(1.2);
}

.instructions h2 {
  position: absolute;
  vertical-align: middle;
  top: 50%;
  margin: -25% 0;
  width: 100%;
}

.instructions h3 {
  position: absolute;
  vertical-align: middle;
  top: 60%;
  margin: -25% 0;
  width: 100%;
}

.speakers {
  overflow-y: scroll;
}

.itinerary {
  display: inline-table;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: middle;
  height: 100%;
}

.itinerary-row {
  display: table-row;
}

.timeslot {
  display: table-cell;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.7em;
  border: 0.1em black solid;
  width: 10%;
  text-align: center;
}

.timeslot>h2 {
  margin-left: 5em;
  padding: 1px;
}

.timeslot>p {
  margin-left: 0em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.timeslot h2 {
  font-size: 16px;
  font-weight: bold;
}

.timeslot img {
  position: relative;
  float: left;
  display: inline-block;
  width: 2.4em;
  height: 2.4em;
}

.session-box {
  display: inline-block;
  width: 7em;
  height: 7em;
  position: relative;
  text-align: center;
  margin: 0.1em;
  vertical-align: text-top;
  box-sizing:border-box;
  margin: 0.2em;
  box-shadow: 5px 5px 5px #888888;
}

.session-box:hover {
  color: $tertiary-color;
  font-weight: bolder;
  cursor: pointer;
}

.session-box h2 {
  padding-top: 10%;
  text-align: center;
  margin: 0 auto;
  font-family: $secondary-font;
}

.session-box p {
  position: absolute;
  top: 65%;
  font-size: 14px;
}

.session-box img {
  opacity: 0.3;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
  transition: opacity 1s;
}

.session-box img:hover {
  opacity: 1;
  z-index: 0;
}

.session-box::-webkit-scrollbar {
    width: 1em;
}

.session-box::-webkit-scrollbar-track {
  background-color: $secondary-color;
  outline: 1px solid $secondary-color;
}

.session-box::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
  outline: 1px solid $secondary-color;
}

.correct {
  background-color: #8edd7a !important;
}

.wrong {
  background-color: #ec7976 !important;
}

.contact-right {
  width: 45%;
  float: right;
  text-align: left;
  display: inline-block;
}

.contact-left {
 float: left;
 display: block;
 width: 45%;
 text-align: left;
 vertical-align: top;
 padding-right: 2em;
 h2{
   text-align: left;
 }
}
.map-div {
 display: inline-block;
  width: 40%;
  text-align: left;
  vertical-align: top;

}

footer {
  background-color: $primary-color;

  .sponsors {
    height: 200px;
    color: $secondary-color;
    padding-top: 1em;
    display: inline-block;
    text-align: left;
  }

  .sponsors img {
    height: 8em;
  }

  .producers {
    display: inline-block;
    color: $secondary-color;
    text-align: left;
    margin-left: 5em;
    a {
      color: $tertiary-color;
      display: block;
    }
    i {
      font-size: 2em;
    }
  }

  .copyright {
    color: $secondary-color;
  }

};


#close-window, #close-payment-btn {
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

#close-payment-btn {
  color: $tertiary-color;
}

.remove-speaker {
  display: inline;
  float: right;
  padding-top: 2%;
  cursor: pointer;
  color: red;
}

//
// @keyframes animatedBackground {
// 	from { background-position: 0 0; }
// 	to { background-position: 100% 0; }
// }

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  .banner {
    background-image: url("/assets/wdiconf2.png");
  }
}

#close-window, #close-payment-btn {
  z-index: 230;
}

.submit-itinerary {
  width: 91%;
  background-color: $primary-color;
  padding: 1em;
  font-size: 14px;
  box-sizing: border-box;
  color: $secondary-color;
  font-family: $secondary-font;
  letter-spacing: 1px;
}

label, input {
  margin: 0 auto;
  color: $secondary-color;
}

.submit-itinerary:hover {
  background-color: $tertiary-color;
}

input.submit.btn {
  background-color: $primary-color;
  font-size: 14px;
  font-family: $secondary-font;
  color: $secondary-color;
  text-transform: lowercase;
}

input.submit.btn:hover {
  background-color: $tertiary-color;
}

#payment-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
  background-color: rgba(0,0,0,0.9);
  padding: 5% 11%;
  overflow: scroll;
}

#payment-form h4 {
  font-family: $secondary-font;
  font-size: 16px;
  color: $secondary-color;
}

#payment-form h5 {
  font-size: 16px;
  color: $tertiary-color;
  display: inline-block;
}

.about p {
  line-height: 1.5em;
}

.attendee-form {
  padding: 20px;
  display: none;
}

.verification {
  width: 100px;
  display: inline-block;
}

#session_id, #attendee_id {
  display: none;
}

.selected-session {
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 2em;
  img {
    height: 2.7em;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
  }
  h2 {
    display: inline-block;
    vertical-align: text-top;
    font-size: 18px;
    font-weight: bold;
  }
}

.attendee-itinerary {
  padding: 2em 2em 0em 2em;
}


// -------------- Materialize ---------------

/* label color */
.input-field {
  display: inline-block;
}

.input-field label {
 color: $tertiary-color;
 font-family: $secondary-font;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: $tertiary-color;
 font-family: $secondary-font;
}

/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid $secondary-color;
 box-shadow: 0 1px 0 0 $secondary-color;
}

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid $secondary-color;
 box-shadow: 0 1px 0 0 $secondary-color;
}

/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid $secondary-color;
 box-shadow: 0 1px 0 0 $secondary-color;
}

/* icon prefix focus color */
.input-field .prefix.active {
 color: $secondary-color;
}
