/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$font-stack: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
$primary-color: #0069af;


body {
  text-align: center;
  font-family: $font-stack;
  color: $primary-color;
}

.banner h1 {
  font-size: 5em;
}
.banner h2 {
  font-size: 4em;
}

.banner h3 {
  font-size: 3em;
}

.topnav {

}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
}


ul.topnav li {
  float: left;
  width: 20%;

}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


ul.topnav li a:hover {background-color: #555;}


ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.speakers, .itinerary, .instructions {
  display: inline-block;
  margin: 0.5em;
  width: 45%;
  vertical-align: top;
  text-align: center;
}


.speakers {
  height: 100vh;
  overflow-y: scroll;
}

.itinerary, .instructions {
  height: 80vh;
  margin: 5% auto;
}

.instructions {
  z-index: 10;
  background-color: $primary-color;
  position: absolute;
}

.timeslot {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 4em;
  border: 2px black solid;
  vertical-align: middle;
}

.timeslot img{
  position: relative;
  float: left;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.session-box {
  display: inline-block;
  width: 10em;
  height: 10em;
  position: relative;
  text-align: center;
  margin: 1%;
  vertical-align: text-top;
}

.session-box h2 {
  font-size: 32px;
  padding-top: 10%;
  text-align: center;
  margin: 0 auto;
}

.session-box h3 {
  position: absolute;
  top: 60%;
}

img {
  opacity: 0.3;
  width:100%;
  position: absolute;
  left: 0px;
  z-index: -1;
}


.session-box::-webkit-scrollbar {
    width: 1em;
}

.session-box::-webkit-scrollbar-track {
  background-color: white;
  outline: 1px solid white;


}

.session-box::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid white;
}

.correct {
  background-color: #8edd7a !important;
}

.wrong {
  background-color: #ec7976 !important;
}
