/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";

$font-stack: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
$primary-color: #0069af;


body {
  text-align: center;
  font-family: $font-stack;
  color: $primary-color;
}

.speakers, .itinerary, .planner, .news, .about, .banner,
.overlay, .instructions {
  margin: 5% auto;
}

.banner h1 {
  font-size: 5em;
}
.banner h2 {
  font-size: 4em;
}

.banner h3 {
  font-size: 3em;
}

.topnav {

}
.nav-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;

}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
}


ul.topnav li {
  float: left;
  width: 20%;

}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


ul.topnav li a:hover {background-color: #555;}


ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.speakers, .itinerary, .instructions h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.itinerary-wrapper {
  position: relative;
}

.speakers, .itinerary, .instructions, .overlay {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  text-align: center;
  height: 80vh;
}

.planner {
  position: relative;
}

.overlay, .instructions {
  text-align: center;
  position:absolute;
  top:0;
  right: 4.5%;
  bottom:0;
  background-color:$primary-color;
  z-index:10;
  border: 0.1px $primary-color solid;
  color: white;
  display: none;

}

.overlay img {
  position: relative;
  display: block;
  width: 8em;
  height: 8em;
  text-align: center;
  margin: 0 auto 2em;
}

.overlay .info {
  padding: 2em;
}

.steps {
  text-align: center;
}

.steps-btn {
  width: 10%;
  height: 10%;
  color: white;
  border: 1px white solid;
  border-radius: 25px;
}

.steps-btn:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari */
  transform: scale(1.2);
}

.instructions h2 {
  position: absolute;
  vertical-align: middle;
  top: 50%;
  margin: -25% 0;
  width: 100%;
}

.instructions h3 {
  position: absolute;
  vertical-align: middle;
  top: 60%;
  margin: -25% 0;
  width: 100%;
}

.speakers {
  overflow-y: scroll;
}

.itinerary {
  display: inline-table;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: middle;
  height: 100%;
}

.itinerary-row {
  display: table-row;
}

.timeslot {
  display: table-cell;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.6em;
  border: 0.1px black solid;
  width: 10%;
  text-align: center;
}

.timeslot>h2 {
  margin-left: 5em;
  padding: 1px;
}

.timeslot>p {
  margin-left: 0em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

}

.timeslot h2 {
  font-size: 16px;
  font-weight: bold;
}

.timeslot img {
  position: relative;
  float: left;
  display: inline-block;
  width: 3.95em;
  height: 3.95em;
}

.session-box {
  display: inline-block;
  width: 7em;
  height: 7em;
  position: relative;
  text-align: center;
  margin: 1%;
  vertical-align: text-top;
  box-sizing:border-box;
}

.session-box:hover {
  border: 1px solid $primary-color;
}

.session-box h2 {
  padding-top: 10%;
  text-align: center;
  margin: 0 auto;
}

.session-box p {
  position: absolute;
  top: 65%;
  font-size: 14px;
}


img {
  opacity: 0.3;
  width:100%;
  position: absolute;
  left: 0;
  z-index: -1;
}


.session-box::-webkit-scrollbar {
    width: 1em;
}

.session-box::-webkit-scrollbar-track {
  background-color: white;
  outline: 1px solid white;


}

.session-box::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid white;
}

.correct {
  background-color: #8edd7a !important;
}

.wrong {
  background-color: #ec7976 !important;
}
