<footer>

  <div class="sponsors" id="sponsors">
    <h3>Sponsored by:</h3>
    <%= image_tag "GA.png" %>
  </div>

  <div class="producers">
    <i class="fa fa-github" aria-hidden="true"></i>
    <i class="fa fa-github" aria-hidden="true"></i>
    <i class="fa fa-github" aria-hidden="true"></i>
  </div>

  <div class="copyright">
    <p>Copyright WdiConf2k16</p>
  </div>

</footer>
